{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

    <section class="hero-area">
        <!--form area-->

        <div class="container">
            <p><a href="{% url 'index' %}">Home</a> / Add LookUps</p>
            <h2> Add New LookUps</h2>
            <div class="col-lg-6 align-items-center">
              {% load crispy_forms_tags %}
                <form method="POST" enctype="multipart/form-data" >
                  {% csrf_token %}
                  {{ form.lookup_id|as_crispy_field}}
                  {{ form.name|as_crispy_field}}
                  <button type="submit" class="btn btn-primary" >Submit</button>
                </form>

            </div>
        </div>
    </section>
    {% endblock content %}

    {% block javascripts %}
        {{ block.super }}
    {% endblock javascripts %}
