{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

    <section class="hero-area">
        <!--form area-->

        <div class="container">
            <p><a href="index.html">Home</a> / Add Member</p>
            <h2> Add New Member</h2>
            <div class="col-lg-6 align-items-center">
                <form action="#" method="POST">
                  <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="first_name" class="form-control" id="first_name">
                  </div>
                   <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="last_name" class="form-control" id="last_name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="telephone">Telephone:</label>
                    <input type="telephone" class="form-control" id="telephone">
                  </div>
                  <button type="submit" class="btn btn-primary" >Submit</button>
                </form>
            </div>
        </div>
    </section>
    {% endblock content %}

    {% block javascripts %}
        {{ block.super }}
    {% endblock javascripts %}
