{% extends "base.html" %}
{% block content %}

    <section class="hero-area">
      <p><a href="{% url 'index' %}">Home</a> / Edit Cycle</p>
            <h2> Edit Cycle</h2>
        <div class="container">
          <div class="row">
            
             <div class="col-lg-4"></div>
            <div class="col-lg-4 align-items-center">
              {% load crispy_forms_tags %}
                <form method="POST" enctype="multipart/form-data" >
                  {% csrf_token %}
                  {{ form.cycle_name|as_crispy_field}}
                  {{ form.cycle_period_start|as_crispy_field}}
                  {{ form.cycle_period_end|as_crispy_field}}
                  <button type="submit" class="btn btn-primary" >Update</button>
                </form>
            </div>
            </div>
        </div>
    </section>
    {% endblock content %}