{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<p><a href="{% url 'members-list' %}" class="btn btn-info">List Of Members</a> Edit Member <a href="{% url 'add-member' %}" class="btn btn-info">Add Member</a></p>
    <section class="hero-area">
        <div class="container-fluid">
            <h3>Membership Registration for <b style="color: slateblue;">{{ current_cycle }}</b> cycle</h3>
            <hr />
            <h2> Edit Member Details</h2>
            <div class="row">
            <div class="col-lg-6 align-items-center">
              {% load crispy_forms_tags %}
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                  {{ form.first_name|as_crispy_field}}
                  {{ form.last_name|as_crispy_field}}
                  {{ form.email|as_crispy_field}}
                  {{ form.telephone|as_crispy_field}}
                  {{ form.Role|as_crispy_field}} 
                  {{ form.is_active|as_crispy_field}} 
                  {{ form.application_fee|as_crispy_field}}          

                  <button type="submit" class="btn btn-primary" >Update</button>
                </form>

            </div>
          </div>
        </div>
    </section>
    {% endblock content %}

    {% block javascripts %}
        {{ block.super }}
    {% endblock javascripts %}
