{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    <section class="hero-area">
        <div class="container-fluid">
            <p><a href="{% url 'index' %}"  class="btn btn-info">List of Savings</a> | Edit Saving</p>
            <h3>Saving Scheme for <b style="color: slateblue;">{{current_cycle}}</b> cycle</h3>
            <hr />
            <h5> Edit Savings Details for <b style="color:red">{{form.name}}</b></h5>
            <div class="row">
            <div class="col-lg-4 align-items-center">

              {% load crispy_forms_tags %}
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                  {{ form.date|as_crispy_field}}
                  {{ form.amount|as_crispy_field}}
                  {{form.name|as_crispy_field}}          

                  <button type="submit" class="btn btn-primary" >Update</button>
                </form>

            </div>
          </div>
        </div>
    </section>
    {% endblock content %}

    {% block javascripts %}
        {{ block.super }}
    {% endblock javascripts %}