{% load static %}
    <div class="main-footer-area section-padding-100-0 bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg-1.jpg' %});">
        <div class="container-fluid">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Quick Links</h6>
                        </div>
                        <nav>
                            <ul class="useful-links d-flex justify-content-between flex-wrap">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'savings-list' %}">Savings</a></li>
                                <li><a href="{% url 'members-list' %}">Users</a></li>
                                <li><a href="{% url 'social-fund-list' %}">Social Fund</a></li>
                                <li><a href="{% url 'cycle-list' %}">Cycles</a></li>
                                <li><a href="{% url 'loan-list' %}">Loans</a></li>
                                <li><a href="{% url 'sacco-account' %}">Sacco Account</a></li>
                                <li><a href="{% url 'attendence-history' %}">Attendance</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">
                    <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This System is made with 
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Mugoya Dihfahsih</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
