{% load static %}
    <div class="main-footer-area section-padding-100-0 bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg-1.jpg' %});">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Quick Links</h6>
                        </div>
                        <nav>
                            <ul class="useful-links d-flex justify-content-between flex-wrap">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Savings</a></li>
                                <li><a href="#">Users</a></li>
                                <li><a href="#">Social Fund</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">
                    <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This System is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Herbert</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
