<!-- Top Header Area -->

{% load static %}
<div class="row">
<div class="top-header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
               
                <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                    {% if request.get_full_path == "/"  %}
                    <!-- Top Headline -->
                    <div class="top-headline">
                        <p style="font-size: 200%">Welcome to <span>Kisajja Kikulu</span></p>
                    </div>
                    <!-- Top Login & Faq & Earn Monery btn -->
                        {% if user.is_authenticated %}
                        <div class="login-faq-earn-money">
                            
                            <p><a href="{% url 'add-cycle' %}">Active Cycle: {{currentCycle}}</a><br>
                            {{request.user.full_name}} <a href="{% url 'logout' %}"> | Logout</a></p>
                        </div>
                        {% else %}
                        <div class="login-faq-earn-money">
                            <p><a href="{% url 'login' %}">Login </a> | <a href="{% url 'MemberAccountRegister' %}"> Register</a></p>
                        </div>
                        {% endif %}
                    
                    

                    {% else %}
                    <div class="top-headline" >
                        <p style="font-size: 200%;" >{{request.get_full_path}}<span> Module</span></p>
                    </div>
                    <div class="login-faq-earn-money">
                        <p><a href="{% url 'add-cycle' %}">Active Cycle: {{currentCycle}}</a><br>
                        <span><i class="fa fa-user"></i> {{request.user.full_name}} <a href="{% url 'logout' %}"> | Logout</a></span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Navbar Area -->
<div class="cryptos-main-menu" style=" background-color: #ced4da">
    <div class="classy-nav-container breakpoint-off">
        <div class="container-fluid">
            <!-- Menu -->
            <nav class="classy-navbar" id="cryptosNav" >
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu" >

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav" >
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="#">Members</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'add-member' %}">Add</a></li>
                                    <li><a href="{% url 'members-list' %}">View List</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Attendance</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'make-attendence' %}">Record</a></li>
                                    <li><a href="{% url 'attendence-history' %}">History</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Social Fund</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'record-social-fund' %}">Record</a></li>
                                    <li><a href="{% url 'social-fund-list' %}">List</a></li>
                                </ul>
                            </li>

                             <li><a href="#" class="active">Savings</a>
                                 <ul class="dropdown">
                                    <li><a href="{% url 'make-saving' %}">Make Saving</a></li>
                                    <li><a href="{% url 'savings-list' %}">List Of Savings</a></li>
                                </ul>
                            </li>
                           
                            <li><a href="#">Loan</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'give-loan' %}">Give Loan</a></li>
                                    <li><a href="{% url 'loan-list' %}">All Loans</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Cycles</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'add-cycle' %}">Manage Cycles</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Look Ups</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'add-lookup' %}">Look Up</a></li>
                                    <li><a href="{% url 'add-lookup-details' %}">Look Up Details</a></li>
                                </ul>
                            </li>
                           <li><a href="{% url 'sacco-account' %}">Sacco Account</a></li>
                        </ul>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

        </div>
    </div>
    <!--fade up notification upon successful redirect-->
    {% if messages %}
    <div class="col-lg-6" style="float: right">
        <div class="alert alert-info" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <ul>
                {% for message in messages %}
                <h1 style="font-weight: bolder" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                </h1>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
</div>