<!-- Top Header Area -->

{% load static %}
<div class="top-header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                    <!-- Top Headline -->
                    <div class="top-headline">
                        <p style="font-size: 200%">Welcome to <span>Kisajja Kikulu</span></p>
                    </div>
                    <!-- Top Login & Faq & Earn Monery btn -->
                    <div class="login-faq-earn-money">
                        <p><a href="#">Login </a>| <a href="#"> Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar Area -->
<div class="cryptos-main-menu" style=" background-color: #ced4da">
    <div class="classy-nav-container breakpoint-off">
        <div class="container-fluid">
            <!-- Menu -->
            <nav class="classy-navbar" id="cryptosNav">

                <!-- Logo -->
                <!-- <a class="nav-brand" href="{% url 'index' %}"  style="margin-left:-8%">
                  <img src="{% static 'img/bg-img/ucc.jpg' %}" alt="" width="60%"></a> -->

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="#">Members</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'add-member' %}">Add</a></li>
                                    <li><a href="{% url 'members-list' %}">View List</a></li>

                                </ul>
                            </li>
                            <li><a href="#">Attendance</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'make-attendence' %}">Record</a></li>
                                    <li><a href="{% url 'attendence-history' %}">History</a></li>

                                </ul>
                            </li>

                             <li><a href="#" class="active">Savings</a>
                                 <ul class="dropdown">
                                    <li><a href="{% url 'make-saving' %}">Make Saving</a></li>
                                    <li><a href="{% url 'savings-list' %}">List Of Savings</a></li>

                                </ul>
                            </li>
                            <li><a href="{% url 'social-fund' %}">Social Fund</a></li>
                            <li><a href="#">Loan</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'give-loan' %}">Give Loan</a></li>
                                    <li><a href="{% url 'pay-loan' %}">Pay Loan</a></li>

                                </ul>
                            </li>
                            <li><a href="#">LookUps</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'add-lookups' %}">LookUps</a></li>
                                    <li><a href="{% url 'details' %}">Lookup Details</a></li>

                                </ul>
                            </li>
                        </ul>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>
