{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
{% load crispy_forms_tags %}
    <section class="hero-area">
        <!--form area-->
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="container" style="margin-left: 15%">
                <p><a href="index.html">Home</a> / Loan Application</p>
                <h2> Loan Application Form</h2>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input type="date" class="form-control" id="date" name="date" >
                        </div>
                        {{form.name|as_crispy_field}}
                        <div class="form-group">
                            <label for="amount">Amount(Principal):</label>
                            <input type="number" class="form-control" id="amount" name="amount">
                        </div>
                         <div class="form-group">
                            <label for="rate">Interest Rate:</label>
                            <input type="number" class="form-control" id="interest_rate" name="interest_rate" value={{rate}}>
                        </div>
                        <div class="form-group">
                            <label for="loan_period">Loan Period(Number of Months):</label>
                            <input type="number" class="form-control" id="loan_period" name="loan_period" value=45 readonly="True">
                        </div>
                        
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group" id="cycle">
                            <label for="cycle">Cycle:</label>
                            <input type="text" class="form-control" readonly="True"  name="cycle" id="cycle" value="{{current_cycle}}">
                        </div>

                        <div class="form-group">
                            <label for="recorded_by">Recorded by:</label>
                            <input type="text" class="form-control" id="recorded_by" readonly="True" name="recorded_by" value="logged in user">
                        </div>
                        {{form.is_loanee|as_crispy_field }}
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <script type="text/javascript">
        document.getElementById('Rate').readOnly = true;
        document.getElementById('current_cycle').readOnly = true;
       document.getElementById('Collected').readOnly = true;
       document.getElementById('first_name').readOnly = true;
    </script>

    {% endblock content %}

    {% block javascripts %}
        {{ block.super }}
    {% endblock javascripts %}
