{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% load humanize %}
{% block content %}
<p style="text-align: center;"><a href="#" class="btn-sm btn-default btn-sm"> Loans Repayments</a>
  <a href="{% url 'all-loans' %}" class="btn-sm btn-info btn-sm"> Loan Details</a>
  <a href="{% url 'give-loan' %}" class="btn-sm btn-info btn-sm"> Loan Application</a>
</p>
   <h3 style="text-align: center;">Loaning Scheme for <b style="color: slateblue;">{{ current_cycle }}</b> cycle</h3>
        <hr />
        <h5>Loan Repayment Status</h5>
        <table id="data-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr style="font-weight: bolder;">
                <td>Name</td>
                <td>Principal</td>
                <td>Paid</td>
                <td>Balance</td>
                <td>LDate</td>
                <td>Deadline</td>
                <td>Status</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              {% for details in loan_list %}
                <tr>
                  <td><a href="{% url 'loan-repayments' details.id %}">{{details.name}} </a></td>
                  <td>{{details.amount|intcomma}}</td>
                  <td>{{details.total_repayments|intcomma}}</td>
                  
                  <td>{{details.balance|intcomma}}</td>
                  <td>{{details.date}}</td>
                  <td>{{details.deadline}}</td>
                  <td>{{details.status}}</td>
                  <td>
                    {% if details.balance > 0 %}
                      <div class="mb-4">
                        <a href="{% url 'pay-loan' details.id %}"class="btn btn-info btn-sm"><span class="fa fa-dollar"> Pay Loan</span></a>
                        <!-- <a href="{% url 'edit-loan' details.id %}"class="btn btn-warning btn-sm"><span class="fa fa-edit"> Edit</span></a> -->
                        <!-- <a href="{% url 'delete-loan' details.id %}"class="btn btn-danger btn-sm"><span class="fa fa-trash"> Delete</span></a>
                      -->
                      </div>
                      {% else %}
                      <i class="btn btn-success btn-sm"><span class="fa fa-home"> Fully Paid</span></i>
                      <a href="{% url 'give-loan' %}" class="btn btn-primary btn-sm"><span class="fa fa-share"> Get New Loan</span></a>
                    {% endif %}  
                 </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
     </div>

        {% endblock content %}
        {% block javascripts %}
            {{ block.super }}
        {% endblock javascripts %}