
{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
      <div class="container">
            <h3>Record Members' Saving</h3><br>
            <form action="#" method="POST">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="cycle">Cycle:</label>
                        <input type="text" class="form-control" placeholder="dropdown from db" id="cycle" value="" required="*" name="cycle" >
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="date">Date:</label>
                        <input type="date" class="form-control" id="date" name="date" required="*" >
                    </div>

                     <div class="col-lg-4 form-sgroup">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required="*" >
                    </div>

                     <div class="col-lg-4 form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" required="*" >
                    </div>
                </div>
                <hr>
                
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Quick Links</h6>
                            </div>
                            <nav>
                                <ul class="useful-links d-flex justify-content-between flex-wrap">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Savings</a></li>
                                    <li><a href="#">Users</a></li>
                                    <li><a href="#">Social Fund</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}

        {% block javascripts %}
            {{ block.super }}
        {% endblock javascripts %}
