<!DOCTYPE html>
<html lang="en">

<head>
    {% load crispy_forms_tags %}
    {% load static  %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

    <!--fade up notification upon successful redirect-->

    <div class="row">
        {% if messages %}
        <div class="alert alert-info" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <ul class="messages">
                {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h3>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <br><br><br><br><br>
            <h3 style=" font-weight:bolder; ">Reset Password Form</h3>
            <hr />
            <form method="post" novalidate>
                {% csrf_token %}

                <fieldset class="form-group col-lg-8">
                    <div class="form-group" style="text-align: left;font-size: 120%">
                        {{ form|crispy}}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit"> Reset Password</button>
                    </div>
                </fieldset>


            </form>
        </div>
    </div>
    </div>
</body>

</html>