
{% extends "base.html" %}

{% block title %} Savings-Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
      <div class="container">
          <p><a href="index.html">Home</a> / Attendance</p>
          <h2> Search Attendance History</h2>
          <form  method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
         <div class="row col-lg-12">
           <div class="row">
              <div class="col-lg-4 form-group">
                  <label for="year">Year:</label>
                  <input type="number" placeholder="Enter Year, e.g. 2020"  class="form-control" id="year" name="attendance_year" value={{attendance_year}} required="*" >
              </div>

              <div class="col-lg-4 form-group">
                 <label for="date">Month:</label>
                 <select  name="attendance_month" class="form-control"required="required" style="cursor: pointer">
                    <option></option>
                    <option class="btn-success" name="1" value="1">January</option>
                    <option class="btn-success" name="2" value="2">February</option>
                    <option class="btn-success" name="3" value="3">March</option>
                    <option class="btn-success" name="4" value="4">April</option>
                    <option class="btn-success" name="5" value="5">May</option>
                    <option class="btn-success" name="6" value="6">June</option>
                    <option class="btn-success" name="7" value="7">July</option>
                    <option class="btn-success" name="8" value="8">August</option>
                    <option class="btn-success" name="9" value="9">September</option>
                    <option class="btn-success" name="10" value="10">October</option>
                    <option class="btn-success" name="11" value="11">November</option>
                    <option class="btn-success" name="12" value="12">December</option>
                  </select>
              </div>
              <div class="col-lg-4 form-group">
              <button type="submit" class="btn btn-primary" >Search</button>
              </div>
          </div>
        </form>
      </div>
    <div class="tab-content">
       <div class="tab-pane fade in active" id="tab_invoice_list">
          <div class="x_content">
            <table id="invoice-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <td>Date</td>
                    <td>Member Name</td>
                    <td>Service</td>
                    <td>Amount</td>
                    <td>Archived Status</td>
                  </tr>
                </thead>
                <tbody>
                  {% for item in archived_reports %}
                    <tr>
                      <td>{{ item.Date}}</td>
                      <td>{{ item.Member_Name}}</td>
                      <td>{{ item.Service}}</td>
                      <td>{{ item.Amount}}</td>
                      <td>{{ item.Archived_Status}}</td>
                      <td>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    </div>


{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
